@import "tailwindcss";

/* Força escuro em controles nativos (Safari etc.) */
:root {
  color-scheme: dark;
  --background: #0a0a0a;
  --foreground: #e5e7eb; /* texto claro */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Remova o media query de prefers-color-scheme, não precisamos mais seguir o OS */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";
}
